
<form [formGroup]="userForm">
  <label for="firstName">First Name:</label>
  <input type="text" id="firstName" formControlName="firstName" />
  <div *ngIf="userForm.get('firstName').hasError('required') && userForm.get('firstName').touched">
    First Name is required.
  </div>
  <div *ngIf="userForm.get('firstName').hasError('minlength') && userForm.get('firstName').touched">
    First Name must be at least 3 characters.
  </div>

  <label for="lastName">Last Name:</label>
  <input type="text" id="lastName" formControlName="lastName" />
  <div *ngIf="userForm.get('lastName').hasError('required') && userForm.get('lastName').touched">
    Last Name is required.
  </div>
  <div *ngIf="userForm.get('lastName').hasError('minlength') && userForm.get('lastName').touched">
    Last Name must be at least 3 characters.
  </div>

  <label for="dateOfBirth">Date of Birth:</label>
  <input type="date" id="dateOfBirth" formControlName="dateOfBirth" />
  <div *ngIf="userForm.get('dateOfBirth').hasError('required') && userForm.get('dateOfBirth').touched">
    Date of Birth is required.
  </div>

  <label for="phoneNumber">Phone Number:</label>
  <input type="text" id="phoneNumber" formControlName="phoneNumber" />
  <div *ngIf="userForm.get('phoneNumber').hasError('required') && userForm.get('phoneNumber').touched">
    Phone Number is required.
  </div>
  <div *ngIf="userForm.get('phoneNumber').hasError('minlength') && userForm.get('phoneNumber').touched">
    Phone Number must be at least 9 characters.
  </div>

  <label for="email">Email:</label>
  <input type="email" id="email" formControlName="email" />
  <div *ngIf="userForm.get('email').hasError('required') && userForm.get('email').touched">
    Email is required.
  </div>
  <div *ngIf="userForm.get('email').hasError('minlength') && userForm.get('email').touched">
    Email must be at least 8 characters.
  </div>

  <button type="button" (click)="addUser">Add User</button>
</form>